<div class="text-white background grid">
    <div class="col justify mt-2">
        <i class="pi pi-phone mr-2"></i>
        <a class="text-white">956 17 29 83</a>
    </div>
    <div class="col justify mt-2">
        <i class="pi pi-envelope mr-2"></i>
        <a href="mailto:audiovisionlalinea@gmail.com" class="text-white">audiovisionlalinea@gmail.com</a>
    </div>
    <div class="col justify mt-2">
        <i class="pi pi-map-marker mr-2"></i>
        <a class="text-white" href="https://www.google.com/maps?q=c/ Gibraltar, 34 11300 La Línea de la Concepción, Cádiz, España" 
            target="_blank" rel="noopener noreferrer">
            c/ Gibraltar, 34 11300 La Línea de la Concepción
        </a>
    </div>
    <div class="col justify mt-2">
        <i class="pi pi-clock mr-2"></i> Lun - Vie: 9:00 - 18:00
    </div>
</div>

<router-outlet></router-outlet>