@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;            
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;                
}

body::before {
  content: '';
  position: fixed;                   
  z-index: -2;
  inset: 0;                         
  width: 100vw;                      
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-bleed,
header, footer {                      
  overflow: hidden;               
}



